extends ../layout/base

block attributes

block title
  title #{title}
block content
  .container.index#count-page(v-cloak)
    .row.bg-white: .col.p-3
      #chart
        .no-data.pt-5.pb-5 没有数据
    .mt-3(v-if="show_rank.length == 0")
      .row.share
        .col
          a.btn.btn-block.btn-lg.text-white.green-bg(href="/news") 立刻去分享文章
    .row.type-block(v-if="show_rank.length != 0")
      .col.text-center.p-2
        p.text-secondary.mb-0 #{title}
        button.btn.m-2(@click="chooseType('全部')", :class="show_type === '全部'?'active':''") 全部
        button.btn.m-2(v-for="item in typePie", @click="()=>{chooseType(item.cat_name); chooseChart(item.cat_name)}", :class="show_type === item.cat_name?'active':''") {{item.cat_name}}

    .row.article-block(v-for="(item, index) in show_rank")
      div.num {{index+1}}
      a(:href="'/news/details/'+item.id").col
        p.title {{item.name}}
        p.info.mb-2
          span.price(v-show="item.price != 0") ￥{{item.price}}
          //span.daily 当日：#{item.num}人
          span.count 累计：{{item.num}}人&emsp;

  include ../layout/navbar-bottom

block script
  script.
    var vm = new Vue({
      el: '#count-page',
      data: {
        typePie: !{JSON.stringify(typePie)},
        rank: !{JSON.stringify(rank)},
        show_rank: !{JSON.stringify(rank)},
        show_type: '全部'
      },
      computed: {
        count_type: function () {
          return this.typePie.map(function (e) {
            return e.cat_name
          })
        },
        count_data: function () {
          return this.typePie.map(function (e) {
            return { name: e.cat_name, value: e.num }
          })
        }
      },
      methods: {
        chooseType: function (name) {
          if (name == '全部') {
            this.show_rank = this.rank;
          } else {
            this.show_rank = this.rank.filter(function (val) {
              return val.cat_name == name;
            })
          }
          this.show_type = name;
        },
        chooseChart: function (name) {
          myChart.dispatchAction({
            type: 'highlight',
            // 可选，数据名称，在有 dataIndex 的时候忽略
            name: name
          })
        }
      }
    });

    if (vm.typePie.length !== 0) {
      $('#chart').height(300);
      var option = {
        color: [
          '#19d4ae', '#5ab1ef', '#fa6e86',
          '#ffb980', '#0067a6', '#c4b4e4',
          '#d87a80', '#9cbbff', '#d9d0c7',
          '#87a997', '#d49ea2', '#5b4947'
        ],
        title: {
          text: ' ',
          subtext: ' ',
          x: 'center'
        },
        tooltip: {
          trigger: 'item',
          formatter: "{b} : {c} ({d}%)"
        },
        legend: {
          bottom: 'bottom',
          data: vm.count_type
        },
        series: [
          {
            name: '浏览次数',
            type: 'pie',
            radius: '70%',
            center: ['50%', '45%'],
            selectedMode: false,
            data: vm.count_data,
            labelLine: {
              normal: {
                show: false,
                length: 10,
                length2: 2
              }
            },
            itemStyle: {
              normal: {
                borderColor: '#fff',
                borderWidth: 5
              }
            }
          }
        ]
      }
      var myChart = echarts.init(document.getElementById('chart'));
      myChart.setOption(option);
      myChart.on('pieselectchanged', function (params) {
        if (params.selected[params.name]) {
          vm.chooseType(params.name);
        } else {
          vm.chooseType('全部');
        }
      })
    }
