extends ../layout/base

block attributes

block title
  title #{title}
block content
  .container.index
    .row.commission
      .col
        h5.text-center 我的佣金
        p.text-center
          span.money= commissionNum.toFixed(2)
          span.money-text 元
          a.btn.btn-sm(href='/user/commission/withdraw') 提现
    .row.main
      .col.text-center
        a(href='/home/strategy'): p &emsp;推广攻略？
        a(href='/home/details/1')
          i.fa.fa-bar-chart.fa-3x
          p 每日数据
    .count.text-center
      .row: .col-12
        h3#now_date
      .row
        .col.count-block
          p 浏览文章用户数
          p= datas.newsView.uvNews
        .col.count-block
          p 浏览文章次数
          p= datas.newsView.pvNews
      .row
        .col.count-block
          p 浏览商品用户数
          p= datas.productView.uvProducts
        .col.count-block
          p 浏览商品次数
          p= datas.productView.pvProducts
      .row
        .col.count-block
          p 下单用户数
          p= datas.purchaseRecord.userNum
        .col.count-block
          p 下单数
          p= datas.purchaseRecord.orderNum

  include ../layout/navbar-bottom

block script