extends ../layout/base

block attributes

block title
  title #{title}
block content
  .container.index
    .row.index-tab
      ul.nav.nav-tabs.col.text-center
        li.nav-item
          a(class="nav-link active" id="credits-tab" data-toggle="tab" href="#credits" role="tab" aria-controls="credits" aria-selected="true") 我的积分
        li.nav-item.orange-active
          a(class="nav-link" id="commission-tab" data-toggle="tab" href="#commission" role="tab" aria-controls="commission" aria-selected="false") 我的佣金

    .tab-content
      .tab-pane.fade.show.active(id="credits" role="tabpanel" aria-labelledby="credits-tab")
        .row.commission
          .col
            a.green-text(href='/home/strategy/point'): p.d-inline 积分攻略？
            p.text-center
              a.btn.btn-sm(href='http://integral.medsci-tech.com/shop/product') 兑换
              span.money= pointNum
              span.money-text
            p.text-center: small.sub-text 可用积分
            .clearfix
        .count.text-center
          .row.d-block
            .chart
              p 近一周趋势
              div#chart1
              p 浏览文章用户数
          .row
            .col-12.count-title
              p.text-center
                span 每日数据&emsp;
                span.now_date
            .col.count-block
              a(href="/home/details/list/1")
                p 浏览文章用户数
                p= datas.newsView.uvNews
            .col.count-block
              a(href="/home/details/pie/1")
                p 浏览文章次数
                p= datas.newsView.pvNews
      .tab-pane.fade(id="commission" role="tabpanel" aria-labelledby="commission-tab")
        .row.commission
          .col
            a.orange-text(href='/home/strategy/commission'): p.d-inline 佣金攻略？
            p.text-center
              span.money= commissionNum.toFixed(2)
              span.money-text 元
              a.btn.btn-sm.orange-bg(href='/user/commission/withdraw') 提现
            p.text-center: small.sub-text 可用佣金
            .clearfix
        .count.text-center
          .row.d-block
            .chart.orange-bg
              p 近一周趋势
              div#chart2
              p 下单商品数
          .row
            .col-12.count-title
              p
                span 每日数据&emsp;
                span.now_date
            .col.count-block
              a
                p 浏览商品用户数
                p= datas.productView.uvProducts
            .col.count-block
              a
                p 浏览商品次数
                p= datas.productView.pvProducts
          .row
            .col.count-block
              p 下单用户数
              p= datas.purchaseRecord.userNum
            .col.count-block
              p 下单商品数
              p= datas.purchaseRecord.orderNum

  include ../layout/navbar-bottom

block script
  script.
    /* eslint-disable */
    var chartData= {
      credits: !{JSON.stringify(lineChartPoint)},
      commission: !{JSON.stringify(lineChartCommission)}
    }
    $('#chart1, #chart2').height(120);
    var option1 = {
      color: ['#ffffff'],
      tooltip: {
        trigger: 'axis',
        axisPointer: {            // 坐标轴指示器，坐标轴触发有效
          type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
        }
      },
      grid: {
        top: 10,
        left: 0,
        right: 10,
        bottom: '0',
        containLabel: true
      },
      xAxis: [
        {
          type: 'category',
          data: chartData.credits.map(function(e){
            return e.date.replace(/(.{2})(.{2})/, '$1月$2日')
          }),
          axisLine: {
            show: false,
            lineStyle: {
              color: '#fff'
            }
          },
          axisTick: {
            show: false,
          },
          splitArea: {
            interval: 0,
            show: true,
            areaStyle: {
              color: ['rgba(250,250,250,0)', 'rgba(0,0,0,0.05)']
            }
          }
        }
      ],
      yAxis: [
        {
          show: false,
          type: 'value',
          axisLabel: {
            formatter: ''
          }
        }
      ],
      series: [
        {
          name: '浏览量',
          type: 'line',
          barWidth: 10,
          data: chartData.credits.map(function (e) {
            return e.num
          }),
          itemStyle: {
            normal: {
              barBorderRadius: [10, 10, 0, 0]
            }
          }
        }
      ]
    };
    var option2 = {
      color: ['#ffffff'],
      tooltip: {
        trigger: 'axis',
        axisPointer: {            // 坐标轴指示器，坐标轴触发有效
          type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
        }
      },
      grid: {
        top: 10,
        left: 0,
        right: 10,
        bottom: '0',
        containLabel: true
      },
      xAxis: [
        {
          type: 'category',
          data: chartData.commission.map(function (e) {
            return e.date.replace(/(.{2})(.{2})/, '$1月$2日')
          }),
          axisLine: {
            show: false,
            lineStyle: {
              color: '#fff'
            }
          },
          axisTick: {
            show: false
          },
          splitArea: {
            interval: 0,
            show: true,
            areaStyle: {
              color: ['rgba(250,250,250,0)', 'rgba(0,0,0,0.05)']
            }
          }
        }
      ],
      yAxis: [
        {
          show: false,
          type: 'value',
          axisLabel: {
            formatter: ''
          }
        }
      ],
      series: [
        {
          name: '下单数',
          type: 'line',
          barWidth: 10,
          data: chartData.commission.map(function (e) {
            return e.num
          }),
          itemStyle: {
            normal: {
              barBorderRadius: [10, 10, 0, 0]
            }
          }
        }
      ]
    };

    var myChart1 = echarts.init(document.getElementById('chart1'));
    myChart1.setOption(option1);
    $('a[data-toggle="tab"]').on('shown.bs.tab', function () {
      var myChart2 = echarts.init(document.getElementById('chart2'));
      myChart2.setOption(option2);
    })

