extends ../layout/base

block attributes

block title
  title #{title}
block content
  .container.news
    .row.count-type
      .col
        ul.nav.nav-pills
          li.nav-item
            a.nav-link.active &ensp;最新&ensp;
          li.nav-item
            a.nav-link 热门
    .row.news-type
      .col
        ul.nav.nav-pills
          li.nav-item
            a.nav-link.active 全部
          li.nav-item
            a.nav-link 糖尿病
          li.nav-item
            a.nav-link 甲状腺
          li.nav-item
            a.nav-link 痛风
    for news in newLists
      .row.news-block
        .col: a(href= news.redirectUrl)
          h5= news.title
            small= moment(news.title).format('YYYY-MM-DD  hh:mm')
          p.abstract= news.introduction
          img(src= news.imgUrl)
          p.info
            span 浏览量：#{news.pv}
            span 点赞：#{news.thumbUp}
            span 评论：#{news.commentNum}
            button.btn.btn-sm.btn-outline-primary 一键分享

  include ../layout/navbar-bottom