extends ../layout/base


block title
  title #{title}
block content
  .container.news#newsDetailPage(v-cloak)
    .row.news-detail: .col
      p.info
        span.time.sr-only= pageInfo.createdAt
        span 迈德科技
      .d-block!= pageInfo.context
      p.info
        span 浏览数：#{pageInfo.pv}
        button(class=pageInfo.ifThumb ? 'thumb' : '', @click= 'thumbUp'): i.fa.fa-thumbs-o-up
        span 点赞数：#{pageInfo.thumbUp}
    .row.news-share: .col.text-center
      //p: button.btn 分享
      p 分享好友，还能获得积分哦
    .discuss
      .row.edit-bar
        p.col.text-right: a(href="#commentArea", data-toggle="collapse") 写评论&nbsp;
          i.fa.fa-edit
      .row#commentArea.collapse
        form.col
          .form-group.sr-only
            label(for= newsId)
            input.form-control(v-model= 'form.newsId', id= newsId, value= pageInfo.newsId)
          .form-group
            label.sr-only(for= comment )
            textarea.form-control(v-model= 'form.comment', id= comment, rows= 3)
          button.btn.btn-outline-secondary.btn-sm.float-right(@click= 'submitComment', type= 'button') 提交
          .clearfix

      for comment in pageInfo.commentList
        - comment = JSON.parse(comment);
        .row.discuss-block
          .icon: img.img-fluid(src= comment.headImgUrl)
          .col
            p.user-id.small= comment.userName
            p.content= comment.comment


  include ../layout/navbar-bottom

block script

  script.
    $('.time').text(function () {
      $(this).removeClass('sr-only');
      return moment(new Date($(this).text())).format('YYYY-MM-DD hh:mm')
    })

    var vm = new Vue({
      el: '#newsDetailPage',
      data: {
        form: {
          newsId: #{pageInfo.newsId},
          comment: ''
        },
        ifThumb: #{pageInfo.ifThumb}
      },
      methods: {
        submitComment: function () {
          $.post('/news/details/comment', {
            newsId: this.form.newsId,
            comment: this.form.comment
          }, function (data) {
            if (data.errCode === 200) {
              alert('提交成功！');
              window.history.go(0);
            }
          }, 'json')
        },
        thumbUp: function () {
          if (!this.ifThumb) {
            $.post('/news/details/thumb', {
              newsId: this.form.newsId
            }, function (data) {
              if (data.errCode === 200) {
                window.history.go(0);
              }
            }, 'json')
          }
        }
      }
    });
  script.
    wx.config(!{JSON.stringify(wxConfig)});
    wx.ready(function () {
      wx.onMenuShareTimeline({
        title: '#{title}', // 分享标题
        link: '#{shareLink}', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
        imgUrl: '', // 分享图标
        success: function () {
          // 用户确认分享后执行的回调函数
          $.post('/news/share/#{pageInfo.newsId}', {
            shareId: '#{pageInfo.userId}'
          }, function (data) {
            if(data && data.errCode === 200){
              alert('分享成功!')
            }
          }, 'json')
        },
        cancel: function () {
          // 用户取消分享后执行的回调函数
        }
      });
      wx.onMenuShareAppMessage({
        title: '#{title}', // 分享标题
        desc: '', // 分享描述
        link: '#{shareLink}', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
        imgUrl: '', // 分享图标
        type: '', // 分享类型,music、video或link，不填默认为link
        dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
        success: function () {
          // 用户确认分享后执行的回调函数
          $.post('/news/share/#{pageInfo.newsId}', {
            shareId: '#{pageInfo.userId}'
          },function () {
            if (data && data.errCode === 200) {
              alert('分享成功!')
            }
          }, 'json')
        },
        cancel: function () {
          // 用户取消分享后执行的回调函数
        }
      });
    })