extends ../layout/base

block attributes
  - var title = "news"

block title
  title #{title}
block content
  .container.news
    .row.news-detail: .col
      p.info
        span= moment(pageInfo.title).format('YYYY-MM-DD  hh:mm')
        span 迈德科技
      div= pageInfo.context
      p.info
        span pageInfo.pv
        i.fa.fa-thumbs-o-up
        span pageInfo.thumbUp
    .row.news-share: .col.text-center
      p: button.btn 分享
      p 分享好友，还能获得积分哦
    .discuss
      .row.edit-bar: p.col.text-right: a 写评论&nbsp;
        i.fa.fa-edit
      for comment in commentList
        .row.discuss-block
          .icon: img(src= headImgUrl)
          .col
            p.user-id.small= comment.userName
            p.content= comment.comment


  include ../layout/navbar-bottom