extends ../layout/base


block title
  title #{title}
block content
  .container.news#newsDetailPage(v-cloak)
    .row.news-detail: .col
      p.info
        span {{timeFormat(pageInfo.createdAt)}}
        span 迈德科技
      .d-block(v-html='pageInfo.context')
      p.info
        span 浏览数：{{pageInfo.pv}}
        button(:class="pageInfo.ifThumb ? 'thumb' : ''", @click= 'thumbUp')
          i.fa.fa-thumbs-o-up
          span &ensp;点赞数：{{pageInfo.thumbUp}}
    .row.news-share: .col.text-center
      //p: button.btn 分享
      p
    .discuss
      .row.edit-bar
        p.col: a(href="#commentArea", data-toggle="collapse") 写评论&nbsp;
          i.fa.fa-edit
      .row#commentArea.collapse
        form.col
          .form-group.sr-only
            label
            input.form-control(v-model= 'form.newsId', :value='pageInfo.newsId')
          .form-group
            label.sr-only
            textarea.form-control(v-model= 'form.comment', rows= 3)
          button.btn.btn-outline-success.btn-sm.float-right(@click= 'submitComment', type= 'button', style='margin-bottom:1rem') 提交
          .clearfix

      .row: .col
        hr(style='margin-top: 0')

      .row.discuss-block(v-for="comment in pageInfo.commentList")
        .icon: img.img-fluid(:src='comment.headImgUrl')
        .col
          p.user-id.small {{comment.userName}}
          p.content {{comment.comment}}


block script

  script.
    var vm = new Vue({
      el: '#newsDetailPage',
      data: {
        pageInfo: !{JSON.stringify(pageInfo)},
        form: {
          newsId: '#{pageInfo.newsId}',
          comment: ''
        }
      },
      methods: {
        timeFormat: function (e) {
          return moment(e).format('YYYY-MM-DD HH:mm')
        },
        submitComment: function () {
          $.post('/news/details/operator/comment', {
            newsId: this.form.newsId,
            comment: this.form.comment
          }, function (data) {
            if (data.errCode === 200) {
              alert('提交成功！');
              vm.pageInfo.commentList = data.params.commentList;
              vm.form.comment = '';
              $('#commentArea').collapse('hide');
            }
          }, 'json')
        },
        thumbUp: function () {
          if (!this.ifThumb) {
            $.get('/news/details/operator/thumb', {
              newsId: this.form.newsId
            }, function (data) {
              if (data.errCode === 200) {
                vm.pageInfo.ifThumb = true;
                vm.pageInfo.thumbUp = JSON.parse(data.params.newThumbUpNum);
              }
            }, 'json')
          }
        }
      }
    });
  script.
    wx.config(!{JSON.stringify(wxConfig)});
    wx.ready(function () {
      wx.onMenuShareTimeline({
        title: '#{pageInfo.title}', // 分享标题
        link: '#{shareLink}', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
        imgUrl: '', // 分享图标
        success: function () {
          // 用户确认分享后执行的回调函数
          $.post('/news/share/#{pageInfo.newsId}', {
            shareId: '#{shareUid}'
          }, function (data) {
            if (data && data.errCode === 200) {
              alert('分享成功!')
            }
          }, 'json')
        },
        cancel: function () {
          // 用户取消分享后执行的回调函数
        }
      });
      wx.onMenuShareAppMessage({
        title: '#{pageInfo.title}', // 分享标题
        desc: '#{pageInfo.introduction}', // 分享描述
        link: '#{shareLink}', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
        imgUrl: '', // 分享图标
        type: '', // 分享类型,music、video或link，不填默认为link
        dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
        success: function () {
          // 用户确认分享后执行的回调函数
          $.post('/news/share/#{pageInfo.newsId}', {
            shareId: '#{shareUid}'
          }, function (data) {
            if (data && data.errCode === 200) {
              alert('分享成功!')
            }
          }, 'json')
        },
        cancel: function () {
          // 用户取消分享后执行的回调函数
        }
      });
    })