extends ../layout/base

block attributes
  -
    var operators = {
      1: '成交订单获利',
      2: '提现',
      3: '积分兑换',
      4: '订单取消，取消返利'
    };
    var operatorResults = {
      0: '待处理',
      1: '已完成'
    }


block title
  title #{title}
block content
  .container.user
    .commission-page
      .row.commission
        .col
          h5.text-center 我的佣金
          p.text-center
            span.money= commissionNum.toFixed(2)
            span.money-text 元
            a.btn.btn-sm(href='/user/commission/withdraw') 提现
      .row.strategy
        .col.text-center
          a(href='/home/strategy/commission'): p &emsp;推广攻略？
      .commission-list
        .row: .col
          p 收支明细
        for list in logLists
          .row: .col
            p.article= operators[list.operator]
              span.time.sr-only= list.time
            p 余额： #{list.totalNum}
              span= list.changeNum

  include ../layout/navbar-bottom

block script
  script.
    $('.time').text(function () {
      let a = new Date($(this).text());
      $(this).removeClass('sr-only');
      return moment(a).format('YYYY-MM-DD hh:mm')
    })