extends ../layout/base

block attributes
  -
    var operators = {
      1: '成交订单获利',
      2: '提现',
      3: '积分兑换',
      4: '订单取消，取消返利'
    };
    var operatorResults = {
      0: '待处理',
      1: '已完成'
    }


block title
  title #{title}
block content
  .container.user: .commission-page
      .commission
        .row: .col.bg-light
          p.rule-button: a.orange-text(href='/home/strategy/commission') 佣金攻略?
        .row: .col.text-light.text-center.orange-bg
            h2.money= commissionNum
              small.money-text 元
            p.sub-text.text-center 可用佣金
            //a.btn.btn-sm.orange-text(href='/user/commission/withdraw') 提现
      .commission-list
        .row: .col
          p 收支明细
            //span: a#showAll 查看全部
        if logLists.length !== 0
          for list in logLists
            .row: .col
              p.article= operators[list.operator]
                span.time.sr-only= list.time
              p 余额： #{list.totalNum}
                span= list.changeNum
        else
          .no-data 无数据

  include ../layout/navbar-bottom

block script
  script.
    $('.time').text(function () {
      let a = new Date($(this).text());
      $(this).removeClass('sr-only');
      return moment(a).format('YYYY-MM-DD HH:mm')
    })