extends ../layout/base

block attributes
  -
    var operators = {
    1: '自己浏览',
    2: '好友浏览',
    3: '自己转发',
    4: '好友转发',
    5: '后台提取'
    };

block title
  title #{title}
block content
  .container.user: .credits-page
    .credits-detail
      .row.time: .col
        p 时间：
          span#time= time
      .row.change: .col
        p 积分变动： #{changeNum}
      .row.detail: .col
        p 详情：好友【#{friendName}】浏览文章【#{newsTitle}】

  include ../layout/navbar-bottom

block script
  script.
    $('#time').text(function () {
      return moment($(this).text()).format('YYYY-MM-DD hh:mm:ss')
    })