extends ../layout/base

block attributes
block stylesheet
  //link(href="https://cdn.bootcss.com/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.min.css", rel="stylesheet")


block title
  title #{title}
block content
  .container.user: .credits-page#credistsList(v-cloak)
    .row.credits-info
      .col-12.bg-light
        p.rule-button: a 积分规则?
          span: label {{dateSelect}}
            input#datePicker.sr-only(type='date', v-model='dateSelect')
      .col-12.text-light
        P.add 当天新增：
          span +
          |{{data.incrSum}}
        p.withdraw 当天兑换：
          span -
          |{{data.decrSum}}
    .credits-list(v-show='data.logLists.length !== 0')
      .row
        table.table
          thead
            tr
              th(nowrap) 时间
              th(nowrap).text-right 积分变动
          tbody
            tr(v-for="log in data.logLists", :key="log.time")
              td: a(:href="'/user/bonusPoint/idLog?recordId='+log.recordId") {{operators[log.operator]+(log.operatorResult?'':operatorResults[log.operatorResult])}}
                small.d-block {{timeFormat(log.time)}}
              td.text-right: a(:class="log.operator!==5?'add':'sub'", :href="'/user/bonusPoint/idLog?recordId='+log.recordId") {{log.changeNum}}
    .no-data(v-show='data.logLists.length === 0') 无数据

  include ../layout/navbar-bottom

block script
  //script(src="https://cdn.bootcss.com/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js")
  //script(src="https://cdn.bootcss.com/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.zh-CN.min.js")
  script.
    var vm = new Vue({
      el: '#credistsList',
      data: {
        operators: {
          1: '自己浏览',
          2: '好友浏览',
          3: '自己转发',
          4: '好友转发',
          5: '后台提取'
        },
        operatorResults: {
          0: '（审核中）',
          1: '已完成'
        },
        dateSelect: '选择时间',
        data: {
          date: #{date},
          totalPage: #{totalPage},
          page: #{page},
          decrSum: #{decrSum},
          incrSum: #{incrSum},
          logLists: !{JSON.stringify(logLists)}
        }
      },
      watch: {
        dateSelect: function () {
          vm.selectDate();
        }
      },
      methods: {
        timeFormat: function (e) {
          return moment.parseZone(e).format('YYYY-MM-DD HH:mm')
        },
        selectDate: function () {
          $.get('/user/bonusPoint/dayLog/json', {
            date: moment.parseZone(vm.dateSelect).format('YYYYMMDD'),
            page: 1
          }, function (data) {
            if (data) {
              if (data.errCode === 200) {
                vm.data = data.params;
              }
            }
          }, 'json')
        }
      }
    })