extends ../layout/base

block attributes
  -
    var operators = {
    1: '自己浏览',
    2: '好友浏览',
    3: '自己转发',
    4: '好友转发',
    5: '后台提取'
    };

block title
  title #{title}
block content
  .container.user: .credits-page
    .credits-detail
      .row.time: .col
        p 时间：
          span#time.sr-only= time
      .row.change: .col
        p 积分变动： #{changeNum}
      .row.detail: .col
        case operator
          when 1
            p 详情：自己浏览文章【#{newsTitle}】
          when 2
            p 详情：好友【#{friendName}】浏览文章【#{newsTitle}】
          when 3
            p 详情：自己转发文章【#{newsTitle}】
          when 4
            p 详情：好友【#{friendName}】转发文章【#{newsTitle}】
          default
            p 详情：积分兑换

  include ../layout/navbar-bottom

block script
  script.
    $('#time').text(function () {
      $(this).removeClass('sr-only');
      return moment.parseZone($(this).text()).format('YYYY-MM-DD HH:mm:ss')
    })